
<%= form_with model: [@event, @registration] do |f| %>
    <div> Registered: <%= f.check_box :registered, class: "form-control mb-4" %> </div>
    <p><div><button class = "btn btn-warning btn-block" type="submit">Update Room</button></div></p>
    <%end%>