garden {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}



.grid {
  display: inline;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  color: blue;
}
garden {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
