<main role="main">
<div class="jumbotron">
  <div class="d-flex justify-content-center">
    <div><h1 class="display-3">Your Brand name</h1>
    <p></p>
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
<%= image_tag("athletics/nike_2.jpg", width: "100", height: "100", class: "card-img-top") %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">Sports clothing for your trainings</p>
        <p class="card-text"><small class="text-muted">Starting at $30.000</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
<%= image_tag("athletics/nike_3.jpg", width: "100", height: "100", class: "card-img-top") %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">Running shoes</p>
        <p class="card-text"><small class="text-muted">Starting at $100.000</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
<%= image_tag("athletics/nike_4.png", width: "100", height: "100", class: "card-img-top") %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">Hiking shoes</p>
        <p class="card-text"><small class="text-muted">Starting at $200.000</small></p>
      </div>
    </div>
  </div>
</div>
