<header>
    <h1 class="mainTitle">SportsLiveBogota</h1>
    <h2>Welcome to Bogota's Sports Events<h2>
    <h3>Register Brand</h3>
    <h3>Register Athlete</h3>
    <h3>Register Store</h3>
</header>
<section>
    <h2>Event's List:</h2>
</section>
<section>
    <h3>Brands list</h3>
</section>