<main role="main">
<div class="jumbotron">
  <div class="d-flex justify-content-center">
    <div><h1 class="display-3">About Us</h1>
    <%= image_tag  "logo.png" %>
    <h2></h2>
    <p class="about-par">
        Welcome to Go Sports Bogotá, the new app that has the main goal of promoting  recreation and a healthy life in your city.
      With Go Sports Bogotá App , users and events promoters are connected with companies that can create events where users can registers with the click of a button.
    </p>
    </div>
  </div>
</div>

